@charset "UTF-8";

/* RESET */
img {border: none;} 
/* OSNOVNI */
body {
  font-family:  'Roboto';
  
  padding: 0;
  margin: 0;
}

#widget {width: 300px; height: 250px; overflow: hidden;}

label { display: block; } 

.infiniteCarousel {
  width: 300px;
  position: relative;
}
.infiniteCarousel .wrapper {
  width: 300px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  height: 250px;
  overflow: auto;
  margin: 0;
  position: absolute;
  top: 0;
}

.infiniteCarousel .wrapper ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 0;
  position: relative;
  width: 300px;
  height: 250px;
}

.infiniteCarousel ul li a img {
  display:block;
}
.infiniteCarousel img.abstract { width: 300px; height: 250px; }

.infiniteCarousel .arrow {
  display: none;
  height: 43px;
  width: 38px;
  background: url(../img/widget/arrow.png) no-repeat 0 0;
  text-indent: -999px;
  position: absolute;
  top: 104px;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background-position: 0 -43px;
  right: 0;
}

.infiniteCarousel .back {
  background-position: 0 0px;
  left: 0;
}
#head {display: none !important;}
.infiniteCarousel #head {
  display: none !important;
  width: 131px; height: 46px;
  position: absolute;
  top: 0px; left: 10px;
  background: url(../img/widget/head.png);
}
.infiniteCarousel a.title {
  font-family:'Roboto';
  display: block;
  width: 268px;
  position: absolute;
  bottom: 0px; left: 0px;
  background: url(../img/widget/titlebar.png);
  padding: 7px 16px;
  font-size: 15px;
  font-weight: 300;
  color: #FFF;
  text-decoration: none;
}
.infiniteCarousel a.title span { color: #FFF; }
